.title span {
    color: white;
}
.scaleDown{
    translate: none; 
    rotate: none; 
    scale: none; 
    transform: translate3d(0px, 0px, 0px) scale(1.1474, 1.1474);
    width: 100%;
}
img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.imgContainer{
    width: 125%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}