.title span{
    color: white !important;   
}
h1.title {
    margin-bottom: 0;
    margin-top: 0;

}
.gradient-collor{
    background-image: linear-gradient(45deg, var(--fourp),var(--fourp2));
    background-color: #f3ec78;
    color: rgba(255, 255, 255, 0.6);
    background: linear-gradient(var(--fourp), var(--fourp2)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
.location{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.location div{
    padding: 10px;
}
#home span{
    color: rgba(255, 255, 255, 0.7);
}
#slogan{
    margin-top: 5rem;
}
.scaleDown{
    translate: none; 
    rotate: none; 
    scale: none; 
    width: 195%;
    animation-direction: alternate-reverse;    
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    overflow: hidden
}

img {
    flex-shrink: 0;
    overflow: hidden
}
.animationImgContainer{
    width: 100%;
    height: 15rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.imgContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.aboutImg{
    width: 90rem;
}
.nossoTrabalho{
    text-align: justify;
}
#mosaic{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

#mosaic > div {
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
}
@keyframes anim {
    from {
      transform: scale(1) translateX(0);
    }
    to {
      transform: scale(.7)
    }
  }

  @media (max-width: 768px) {
    .imgContainer{
        width: 100%;
        height: 15rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden
    }
    .animationImgContainer{
        height: 7rem !important;

    }
    .aboutImg{
        width: 30rem;
    }
#mosaic > div {
        flex-direction: column;
    }
    #card{
        width: 35rem !important;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }
    #mosaic{
        width: 100%;
    }
    .bloco{
        width: 100% !important;
    }
  }