#Photography{
    .bloco{
        width: 47.1vw;
        min-width: 20rem
        
    }
    h1{
        margin: 0;
    }
    img{
        width: 100%;
        min-height: 25rem;
        object-fit: contain
    }
    .bloco-2{
        width: 100vw;
    }
}
@media (max-width: 520px) {
    #Photography{
        img{
            min-height: 5rem;
        }
        .bloco{
            width: 11.2vw !important;
            min-width: 45vw;
            max-height: 20rem;
        }
        .bloco-2{
            width: 95vw!important;
        }
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    #Photography{
        .bloco{
            width: 31.2vw !important;
            min-width: 26rem;        
        }
        img{
            min-height: 33rem;
        }
    }

  }