#Social{
    .bloco{
        width: 29.8rem;
        min-width: 20rem
        
    }
    h1{
        margin: 0;
    }
    img{
        width: 100%;
        height: 40rem;
        object-fit: cover;
    }
    .bloco-2{
        width: 45rem;
    }
}