

#navbar{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  display: inline;
  width: 100%;
  z-index: 2;
  > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
  }
  li {
    text-align: center;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
}

