#carousel{
    display: flex;
    gap: 10px;
    animation-direction: alternate-reverse;    
    animation-name: slideAnimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    align-self: flex-start;
    &:hover {
        animation-play-state: paused;
      }
    
}


@keyframes slideAnimation {
    0% { transform: translateX(0vw); }

    100% { transform: translateX(-100vw); }
}


@media (max-width: 520px) {
    @keyframes slideAnimation {
        0% { transform: translateX(0vw); }

        100% { transform: translateX(-550vw); }
    }
  }

  @media (min-width: 600px) and (max-width: 900px) {
    @keyframes slideAnimation {
        0% { transform: translateX(0vw); }

        100% { transform: translateX(-150vw); }
    }
  }
