#VideosPortfolio{
    iframe {
        width: 45.1vw;
        height: 25rem;
        border: none;
    }
}

@media (max-width: 520px) {
    #VideosPortfolio{
        margin-top: 3rem;
        iframe {
            width: 100%;
            height: 20rem;
        }
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    #VideosPortfolio{
        margin-top: 3rem;
        iframe {
            width: 100%;
            height: 20rem;
        }
        .bloco{
            min-width: 46vw;

        }
    }

  }