#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161616;
  width: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font_instrument);
  --paragraph: rgba(29, 29, 31, 0.7);
  --font_inter_tight: "Inter Tight", sans-serif;
  --font_instrument: "Instrument Sans", sans-serif;
  max-width: 100vw;
  padding: 0%;
}
:root{
  --fourp: #ff632d;
  --fourp2: #c400ff;
  background-color: #161616;
  
}
html {
  scroll-behavior: smooth;
}
.full-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100vw;
}
.bloco{
  display: flex;
  justify-content: center;
  min-height: 16rem;

}
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 1rem;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
}

h1 {
  font-size: 6.2em;
  line-height: 1.1;

}
h2 {
  font-size: 3.2em;
}
h3 {
  font-size: 1.2em;
  font-weight: 1!important;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.dark-theme{
  background: #ffffff;
  color: #000;
  border-color: #ffffff;
}
.button{
  font-size: 18px;
  color: #ffffff;
  background: var(--dark);
  display: inline-flex;
  align-items: center;
  border-radius: 0px;
  /* border-radius: 40px; */
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 19px;
  overflow: hidden;
  z-index: 1;
  border: 2px solid var(--dark);
  transition: .3s ease;
  -webkit-transition: .3s ease;
}
.bloco > h2{
  align-content: end;
  margin-left: 1rem;
}
@media (max-width: 520px) {
  #root {

      max-width: 100vw;
      padding: 0%;
      font-size: .4rem;
    }
    li{
      font-size: 1rem;
    }
    .title{
      font-size: 3rem !important;
    }
    h1{
      font-size: 1.5rem;
      line-height: 1.1;

    }
    h3{
      font-size: 1rem;
    }
    h2{
      font-size: 1.5rem;
      margin: 0;
    }
  .full-container{
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .bloco{
      min-height: 5rem;
    }
    .bloco > h2{
      align-content: center;
      margin-left: 0;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin: auto;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1em;
    margin: 0;
  }
}